KAFKA_BOOTSTRAP_SERVERS=
KAFKA_CONSUMER_GROUP_ID=
KAFKA_TOPIC_NAME=

TEST_DATA_FILE_PATH=
TEST_DATA_EVENTS_TO_PRODUCE_AMOUNT=
TEST_DATA_CHUNK_SIZE=
TEST_DATA_SLEEP_INTERVAL=

S3_BUCKET_NAME=
S3_BATCH_SIZE=
S3_BATCH_INTERVAL_TIME_SECS=
